@charset "UTF-8";
* {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "微软雅黑", arial, "宋体";
  border: none;
}

body, html {
  background-color: #fff;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

:hover {
  color: #999;
}

.header {
  width: 100%;
  max-width: 1920px;
  font-size: 1rem;
}

.header .header-content {
  width: 100%;
  background-color: #fff;
}

.header .header-content > div {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .header .header-content > div {
    width: 98%;
  }
}

.header .header-content > div .header-visited p {
  display: inline-block;
  text-align: left;
  line-height: 2rem;
  color: #29b078;
}

.header .header-content > div .header-visited .link-img {
  width: 96px;
  float: right;
  margin-right: 15px;
}

.header .header-content > div .header-visited .link-img a {
  line-height: 2rem;
  margin-left: 8px;
  float: right;
}

.header .header-content > div .header-visited .link-img img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-top: -4px;
}

@media screen and (max-width: 600px) {
  .header .header-content > div .header-visited {
    display: none;
  }
}

.header .header-content > div .header-hidden {
  float: right;
  display: none;
}

.header .header-content > div .header-hidden span {
  margin: 0 6px;
  line-height: 2rem;
}

.header .header-content > div .header-hidden a {
  font-size: 1rem;
  line-height: 2rem;
}

@media screen and (max-width: 600px) {
  .header .header-content > div .header-hidden {
    display: block;
  }
}

.header .header-content > div:after {
  content: '';
  display: block;
  clear: both;
}

.header .nav {
  width: 100%;
  line-height: 4.5rem;
  background-color: #29b078;
}

@media screen and (max-width: 600px) {
  .header .nav {
    line-height: 4rem;
  }
}

.header .nav > div {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .header .nav > div {
    width: 98%;
  }
}

.header .nav > div li {
  float: left;
  text-align: right;
  margin-left: 10px;
}

.header .nav > div ul {
  width: 296px;
  float: right;
}

@media screen and (max-width: 600px) {
  .header .nav > div ul {
    display: none;
  }
}

.header .nav > div ul:after {
  @inclue clear-a;
}

.header .nav > div a {
  color: #fff;
  font-size: 1.2rem;
  line-height: 4.5rem;
  padding: 18px 15px;
}

@media screen and (max-width: 600px) {
  .header .nav > div a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header .nav > div a:hover {
  border-bottom: 3px solid #fff;
}

.header .nav > div:after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 600px) {
  .header .nav > div ul {
    width: 159px;
  }
  .header .nav > div li {
    margin-left: -3px;
  }
  .header .nav > div a {
    font-size: 1rem;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.header .nav > div .nav-hidden {
  float: right;
  position: relative;
  display: none;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .header .nav > div .nav-hidden {
    display: inline-block;
  }
}

.header .nav > div .nav-hidden img {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

.header .nav > div .nav-hidden ul {
  width: 85px;
  text-align: center;
  background-color: #29b078;
  display: none;
  position: absolute;
  top: 33px;
  left: -48px;
  z-index: 99999999;
  height: 200px;
}

.header .nav > div .nav-hidden ul li {
  margin-left: 0;
  float: none;
  text-align: center;
  line-height: 4rem;
}

.header .nav > div .nav-hidden ul li a {
  line-height: 1.5rem;
}

.header .nav > div .nav-hidden:hover ul {
  display: block;
}

.footer {
  width: 100%;
  color: #fff;
  background-color: #29b078;
  padding: 15px 0;
}

.footer > div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}

@media screen and (max-width: 1200px) {
  .footer > div {
    width: 98%;
  }
}

.footer > div > div {
  margin-top: 2.2%;
}

.footer > div .footer-left {
  width: 212px;
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.footer > div .footer-left p {
  margin-bottom: 31%;
  font-size: 1.2rem;
}

.footer > div .footer-left span {
  font-size: 1rem;
  width: 15px;
}

.footer > div .footer-left .footer-border {
  padding: 0 8px;
  margin: 0 8px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

@media screen and (max-width: 412px) {
  .footer > div .footer-left p {
    font-size: 1rem;
    margin-bottom: 8%;
  }
  .footer > div .footer-left span {
    font-size: 0.8rem;
  }
}

.footer > div .footer-center {
  width: 174px;
  margin-left: 5%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.footer > div .footer-center p {
  font-size: 1.2rem;
}

.footer > div .footer-center ul {
  width: 100%;
  margin-top: -2%;
}

.footer > div .footer-center ul li {
  float: left;
  margin-right: 10px;
  margin-top: 13%;
}

.footer > div .footer-center ul li a {
  font-size: 0.9rem;
  color: #fff;
}

.footer > div .footer-center ul li a:hover {
  border-bottom: 2px solid #fff;
}

.footer > div .footer-center ul:after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 412px) {
  .footer > div .footer-center {
    margin: 10px 0;
  }
  .footer > div .footer-center p {
    font-size: 1rem;
  }
  .footer > div .footer-center a {
    font-size: 0.8rem !important;
  }
}

.footer > div .footer-right {
  width: 93px;
  font-size: 1rem;
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer > div .footer-right {
    float: left;
  }
}

.footer > div .footer-right img {
  width: 93px;
  height: 93px;
  margin-bottom: -5px;
}

.footer:after {
  content: '';
  display: block;
  clear: both;
}

.footer-bottom {
  width: 100%;
  padding: 6px 0;
  text-align: center;
  border-top: 1px solid #32c086;
  color: #fff;
  background-color: #29b078;
}

.footer-bottom p {
  font-size: 0.7rem;
}

@media screen and (max-width: 600px) {
  * {
    font-size: 12px !important;
  }
}

.header .nav > div img {
  width: 112px;
  height: 51px;
  float: left;
  margin-top: 0.5%;
}

@media screen and (max-width: 600px) {
  .header .nav > div img {
    width: 81px;
    height: 100%;
    margin: 1.5%;
  }
}

.header .nav > div .nav-hidden > img {
  margin-top: 17px;
}

.header-bottom {
  width: 100%;
  max-width: 1920px;
}

.header-bottom img {
  width: 1920px;
  height: 249px;
}

@media screen and (max-width: 1920px) {
  .header-bottom img {
    width: 100%;
    height: 100%;
  }
}

.main {
  width: 100%;
  padding-bottom: 5%;
  margin-top: -3px;
  background-color: #fafafa;
}

.main > div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding-top: 15px;
}

@media screen and (max-width: 1200px) {
  .main > div {
    width: 98%;
  }
}

.main > div:after {
  content: '';
  display: block;
  clear: both;
}

.main > div .title {
  width: 100%;
  margin-bottom: 15px;
}

.main > div .title p {
  display: inline;
}

.main > div .title span {
  color: #29b078;
}

.main > div .main-left {
  float: left;
  width: 20%;
  background-color: #fff;
  text-align: center;
}

.main > div .main-left h4 {
  font-size: 1.1rem;
  padding: 6px 0;
  border-bottom: 1px solid #dedede;
}

.main > div .main-left ul {
  width: 100%;
  padding-bottom: 10%;
  padding-left: 5%;
  color: #ff7527;
}

.main > div .main-left ul li {
  width: 66px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: left;
  list-style: circle;
}

.main > div .main-left ul li:hover {
  list-style: disc;
  color: #ff7527;
}

.main > div .main-left ul li a {
  color: #29b078;
  font-size: 0.9rem;
}

.main > div .main-left ul li a:hover {
  color: #ff7527;
}

@media screen and (max-width: 600px) {
  .main > div .main-left {
    margin-bottom: 9%;
    padding-bottom: 3%;
    width: 98%;
  }
}

.main > div .main-right {
  float: right;
  width: 77%;
  font-size: 1rem;
  color: #999;
  background-color: #fff;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .main > div .main-right {
    width: 98%;
  }
}

.main > div .main-right .right-top {
  width: 100%;
  padding: 2% 0;
  border-bottom: 1px solid #dedede;
}

.main > div .main-right .right-top > div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main > div .main-right .right-top > div .top-left {
  display: inline-block;
  margin: 2% auto;
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main > div .main-right .right-top > div .top-left {
    position: absolute;
    top: 30%;
    margin: 0;
    width: 45%;
  }
}

.main > div .main-right .right-top > div .top-left img {
  width: 151px;
  height: 52px;
}

@media screen and (max-width: 1150px) {
  .main > div .main-right .right-top > div .top-left img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .main > div .main-right .right-top > div .top-left img {
    margin-top: 64%;
  }
}

@media screen and (max-width: 600px) {
  .main > div .main-right .right-top > div .top-left img {
    margin-top: 0;
    width: 100%;
    max-width: 151px;
  }
}

.main > div .main-right .right-top > div .top-right {
  width: 74%;
  display: inline-block;
  line-height: 2rem;
  float: right;
}

@media screen and (max-width: 600px) {
  .main > div .main-right .right-top > div .top-right {
    width: 55%;
  }
}

.main > div .main-right .right-top > div:after {
  content: '';
  display: block;
  clear: both;
}

.main > div .main-right .right-bottom {
  width: 100%;
  padding-bottom: 14%;
}

.main > div .main-right .right-bottom p {
  width: 90%;
  margin: 4% auto;
  font-size: 1rem;
  text-indent: 2rem;
  line-height: 2rem;
}
