.carousel {
    width: 100%;
    max-width: 1920px;
    position: relative;
    
    ul {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -25px;
        
        width: 66px;
        height: 15px;
        color: $white;
        z-index: 999;
        
        @media screen and (max-width: 810px ){
            & {
                bottom: 11px;
            }
        }
        
        li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: 1px solid $white;
            float: left;
            margin-right: 10px;
            
            @media screen and (max-width: 810px) {
                & {
                    width: 8px;
                    height: 8px;
                }
            }
            
            &:hover {
                color: $white;
                list-style: disc;
            }
        }
    }
    
    .carousel-content {
        width: 100%;
        
        img {
            width: 100%;
            @media screen and (min-width: 1920px){
                & {
                    width: 1920px;
                    height: 600px;
                }
            }
        }
    }
    
    a {
        line-height: 3rem;
        
        font-size: 5.5rem;
        font-weight: bold;
        opacity: 0.2;
        
        color: $white;
        
        @media screen and (max-width: 810px) {
            & {
                font-size: 2.5rem;
            }
        }
    }
    
    .left {
        position: absolute;
        top: 48%;
        left: 10%;
        margin-top: -1.5rem;
    }
    
    .right {
        position: absolute;
        top: 48%;
        right: 10%;
        margin-top: -1.5rem;
    }
}
